### Lab4:House Price Prediction using Linear Regression with Regularization

Name:K.Nivetha
Roll No:235229120

#### Step1.Import dataset

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Ames_House_Sales_Cropped.csv")
data

,BldgType,CentralAir,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,...,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,1Fam,Y,856,854,0,3,706,0,1,0,...,7,0,0,8,856,0,2003,2003,2008,208500
1,1Fam,Y,1262,0,0,3,978,0,0,1,...,6,0,0,6,1262,298,1976,1976,2007,181500
2,1Fam,Y,920,866,0,3,486,0,1,0,...,7,0,0,6,920,0,2001,2002,2008,223500
3,1Fam,Y,961,756,0,3,216,0,1,0,...,7,0,0,7,756,0,1915,1970,2006,140000
4,1Fam,Y,1145,1053,0,4,655,0,1,0,...,8,0,0,9,1145,192,2000,2000,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,1Fam,Y,953,694,0,3,0,0,0,0,...,6,0,0,7,953,0,1999,2000,2007,175000
1375,1Fam,Y,2073,0,0,3,790,163,1,0,...,6,0,0,7,1542,349,1978,1988,2010,210000
1376,1Fam,Y,1188,1152,0,4,275,0,0,0,...,7,0,0,9,1152,0,1941,2006,2010,266500
1377,1Fam,Y,1078,0,0,2,49,1029,1,0,...,5,0,0,5,1078,366,1950,1996,2010,142125
1378,1Fam,Y,1256,0,0,3,830,290,1,0,...,5,0,0,6,1256,736,1965,1965,2008,147500

In [3]:
#head
data.head()

,BldgType,CentralAir,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,...,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,1Fam,Y,856,854,0,3,706,0,1,0,...,7,0,0,8,856,0,2003,2003,2008,208500
1,1Fam,Y,1262,0,0,3,978,0,0,1,...,6,0,0,6,1262,298,1976,1976,2007,181500
2,1Fam,Y,920,866,0,3,486,0,1,0,...,7,0,0,6,920,0,2001,2002,2008,223500
3,1Fam,Y,961,756,0,3,216,0,1,0,...,7,0,0,7,756,0,1915,1970,2006,140000
4,1Fam,Y,1145,1053,0,4,655,0,1,0,...,8,0,0,9,1145,192,2000,2000,2008,250000

In [4]:
#shape
data.shape

(1379, 39)

In [5]:
#columns
data.shape[1]

39

In [6]:
#dtype
data.dtypes

BldgType          object
CentralAir        object
1stFlrSF           int64
2ndFlrSF           int64
3SsnPorch          int64
BedroomAbvGr       int64
BsmtFinSF1         int64
BsmtFinSF2         int64
BsmtFullBath       int64
BsmtHalfBath       int64
BsmtUnfSF          int64
EnclosedPorch      int64
Fireplaces         int64
FullBath           int64
GarageArea         int64
GarageCars         int64
GarageYrBlt        int64
GrLivArea          int64
HalfBath           int64
KitchenAbvGr       int64
LotArea            int64
LotFrontage      float64
LowQualFinSF       int64
MSSubClass         int64
MasVnrArea         int64
MiscVal            int64
MoSold             int64
OpenPorchSF        int64
OverallCond        int64
OverallQual        int64
PoolArea           int64
ScreenPorch        int64
TotRmsAbvGrd       int64
TotalBsmtSF        int64
WoodDeckSF         int64
YearBuilt          int64
YearRemodAdd       int64
YrSold             int64
SalePrice          int64
dtype: object

In [7]:
#info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379 entries, 0 to 1378
Data columns (total 39 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BldgType       1379 non-null   object
 1   CentralAir     1379 non-null   object
 2   1stFlrSF       1379 non-null   int64
 3   2ndFlrSF       1379 non-null   int64
 4   3SsnPorch      1379 non-null   int64
 5   BedroomAbvGr   1379 non-null   int64
 6   BsmtFinSF1     1379 non-null   int64
 7   BsmtFinSF2     1379 non-null   int64
 8   BsmtFullBath   1379 non-null   int64
 9   BsmtHalfBath   1379 non-null   int64
 10  BsmtUnfSF      1379 non-null   int64
 11  EnclosedPorch  1379 non-null   int64
 12  Fireplaces     1379 non-null   int64
 13  FullBath       1379 non-null   int64
 14  GarageArea     1379 non-null   int64
 15  GarageCars     1379 non-null   int64
 16  GarageYrBlt    1379 non-null   int64
 17  GrLivArea      1379 non-null   int64
 18  HalfBath       1379 non-null   int64
 19  KitchenAbvGr   1379 non-null   int64
 20  LotArea        1379 non-null   int64
 21  LotFrontage    1379 non-null   float64
 22  LowQualFinSF   1379 non-null   int64
 23  MSSubClass     1379 non-null   int64
 24  MasVnrArea     1379 non-null   int64
 25  MiscVal        1379 non-null   int64
 26  MoSold         1379 non-null   int64
 27  OpenPorchSF    1379 non-null   int64
 28  OverallCond    1379 non-null   int64
 29  OverallQual    1379 non-null   int64
 30  PoolArea       1379 non-null   int64
 31  ScreenPorch    1379 non-null   int64
 32  TotRmsAbvGrd   1379 non-null   int64
 33  TotalBsmtSF    1379 non-null   int64
 34  WoodDeckSF     1379 non-null   int64
 35  YearBuilt      1379 non-null   int64
 36  YearRemodAdd   1379 non-null   int64
 37  YrSold         1379 non-null   int64
 38  SalePrice      1379 non-null   int64
dtypes: float64(1), int64(36), object(2)
memory usage: 420.3+ KB

In [8]:
#value_counts
data.CentralAir.value_counts()

Y    1310
N      69
Name: CentralAir, dtype: int64

#### Step2.Predict Sale Price without Categorical features

In [9]:
df=data.drop("BldgType",axis=1)
print(df)

     CentralAir  1stFlrSF  2ndFlrSF  3SsnPorch  BedroomAbvGr  BsmtFinSF1  \
0             Y       856       854          0             3         706
1             Y      1262         0          0             3         978
2             Y       920       866          0             3         486
3             Y       961       756          0             3         216
4             Y      1145      1053          0             4         655
...         ...       ...       ...        ...           ...         ...
1374          Y       953       694          0             3           0
1375          Y      2073         0          0             3         790
1376          Y      1188      1152          0             4         275
1377          Y      1078         0          0             2          49
1378          Y      1256         0          0             3         830

      BsmtFinSF2  BsmtFullBath  BsmtHalfBath  BsmtUnfSF  ...  OverallQual  \
0              0             1             0        150  ...            7
1              0             0             1        284  ...            6
2              0             1             0        434  ...            7
3              0             1             0        540  ...            7
4              0             1             0        490  ...            8
...          ...           ...           ...        ...  ...          ...
1374           0             0             0        953  ...            6
1375         163             1             0        589  ...            6
1376           0             0             0        877  ...            7
1377        1029             1             0          0  ...            5
1378         290             1             0        136  ...            5

      PoolArea  ScreenPorch  TotRmsAbvGrd  TotalBsmtSF  WoodDeckSF  YearBuilt  \
0            0            0             8          856           0       2003
1            0            0             6         1262         298       1976
2            0            0             6          920           0       2001
3            0            0             7          756           0       1915
4            0            0             9         1145         192       2000
...        ...          ...           ...          ...         ...        ...
1374         0            0             7          953           0       1999
1375         0            0             7         1542         349       1978
1376         0            0             9         1152           0       1941
1377         0            0             5         1078         366       1950
1378         0            0             6         1256         736       1965

      YearRemodAdd  YrSold  SalePrice
0             2003    2008     208500
1             1976    2007     181500
2             2002    2008     223500
3             1970    2006     140000
4             2000    2008     250000
...            ...     ...        ...
1374          2000    2007     175000
1375          1988    2010     210000
1376          2006    2010     266500
1377          1996    2010     142125
1378          1965    2008     147500

[1379 rows x 38 columns]

In [10]:
df.drop("CentralAir",axis=1)

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,856,854,0,3,706,0,1,0,150,0,...,7,0,0,8,856,0,2003,2003,2008,208500
1,1262,0,0,3,978,0,0,1,284,0,...,6,0,0,6,1262,298,1976,1976,2007,181500
2,920,866,0,3,486,0,1,0,434,0,...,7,0,0,6,920,0,2001,2002,2008,223500
3,961,756,0,3,216,0,1,0,540,272,...,7,0,0,7,756,0,1915,1970,2006,140000
4,1145,1053,0,4,655,0,1,0,490,0,...,8,0,0,9,1145,192,2000,2000,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,953,694,0,3,0,0,0,0,953,0,...,6,0,0,7,953,0,1999,2000,2007,175000
1375,2073,0,0,3,790,163,1,0,589,0,...,6,0,0,7,1542,349,1978,1988,2010,210000
1376,1188,1152,0,4,275,0,0,0,877,0,...,7,0,0,9,1152,0,1941,2006,2010,266500
1377,1078,0,0,2,49,1029,1,0,0,112,...,5,0,0,5,1078,366,1950,1996,2010,142125
1378,1256,0,0,3,830,290,1,0,136,0,...,5,0,0,6,1256,736,1965,1965,2008,147500

In [11]:
df3=data.pop("BldgType")
print(df3)

0       1Fam
1       1Fam
2       1Fam
3       1Fam
4       1Fam
        ...
1374    1Fam
1375    1Fam
1376    1Fam
1377    1Fam
1378    1Fam
Name: BldgType, Length: 1379, dtype: object

In [12]:
df=data.pop("CentralAir")
df

0       Y
1       Y
2       Y
3       Y
4       Y
       ..
1374    Y
1375    Y
1376    Y
1377    Y
1378    Y
Name: CentralAir, Length: 1379, dtype: object

In [13]:
data

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,EnclosedPorch,...,OverallQual,PoolArea,ScreenPorch,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,856,854,0,3,706,0,1,0,150,0,...,7,0,0,8,856,0,2003,2003,2008,208500
1,1262,0,0,3,978,0,0,1,284,0,...,6,0,0,6,1262,298,1976,1976,2007,181500
2,920,866,0,3,486,0,1,0,434,0,...,7,0,0,6,920,0,2001,2002,2008,223500
3,961,756,0,3,216,0,1,0,540,272,...,7,0,0,7,756,0,1915,1970,2006,140000
4,1145,1053,0,4,655,0,1,0,490,0,...,8,0,0,9,1145,192,2000,2000,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,953,694,0,3,0,0,0,0,953,0,...,6,0,0,7,953,0,1999,2000,2007,175000
1375,2073,0,0,3,790,163,1,0,589,0,...,6,0,0,7,1542,349,1978,1988,2010,210000
1376,1188,1152,0,4,275,0,0,0,877,0,...,7,0,0,9,1152,0,1941,2006,2010,266500
1377,1078,0,0,2,49,1029,1,0,0,112,...,5,0,0,5,1078,366,1950,1996,2010,142125
1378,1256,0,0,3,830,290,1,0,136,0,...,5,0,0,6,1256,736,1965,1965,2008,147500

In [14]:
y=data[["SalePrice"]]
y

      SalePrice
0        208500
1        181500
2        223500
3        140000
4        250000
...         ...
1374     175000
1375     210000
1376     266500
1377     142125
1378     147500

[1379 rows x 1 columns]

In [15]:
from sklearn.model_selection import train_test_split

In [27]:
X = df.drop(['BldgType', 'CentralAir', 'SalePrice'], axis=1)

ValueError: No axis named 1 for object type Series

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

NameError: name 'X' is not defined

In [20]:
type(df)

pandas.core.series.Series

#### Step3.Create Scatter Plot

In [22]:
import matplotlib.pyplot as plt